$gray-50: #f0f2f4;
$gray-100: #d6dae0;
$gray-200: #bcc3cd;
$gray-300: #a2abb9;
$gray-400: #8793a6;
$gray-500: #6d7c92;
$gray-600: #576375;
$gray-700: #414a58;
$gray-800: #2c323a;
$gray-900: #16191d;

$blue-50: #e9f3fb;
$blue-100: #c2dcf5;
$blue-200: #9ac6ee;
$blue-300: #73b0e8;
$blue-400: #4c99e1;
$blue-500: #2483db;
$blue-600: #1d69af;
$blue-700: #164f83;
$blue-800: #0e3458;
$blue-900: #161348;

.text-gray-50 {
  color: $gray-50;
}
.text-gray-100 {
  color: $gray-100;
}
.text-gray-200 {
  color: $gray-200;
}
.text-gray-300 {
  color: $gray-300;
}
.text-gray-400 {
  color: $gray-400;
}
.text-gray-500 {
  color: $gray-500;
}
.text-gray-600 {
  color: $gray-600;
}
.text-gray-700 {
  color: $gray-700;
}
.text-gray-800 {
  color: $gray-800;
}
.text-gray-900 {
  color: $gray-900;
}

.text-blue-50 {
  color: $blue-50;
}
.text-blue-100 {
  color: $blue-100;
}
.text-blue-200 {
  color: $blue-200;
}
.text-blue-300 {
  color: $blue-300;
}
.text-blue-400 {
  color: $blue-400;
}
.text-blue-500 {
  color: $blue-500;
}
.text-blue-600 {
  color: $blue-600;
}
.text-blue-700 {
  color: $blue-700;
}
.text-blue-800 {
  color: $blue-800;
}
.text-blue-900 {
  color: $blue-900;
}

.bg-blue-50 {
  background-color: $blue-50;
}
.bg-blue-100 {
  background-color: $blue-100;
}
.bg-blue-200 {
  background-color: $blue-200;
}
.bg-blue-300 {
  background-color: $blue-300;
}
.bg-blue-400 {
  background-color: $blue-400;
}
.bg-blue-500 {
  background-color: $blue-500;
}
.bg-blue-600 {
  background-color: $blue-600;
}
.bg-blue-700 {
  background-color: $blue-700;
}
.bg-blue-800 {
  background-color: $blue-800;
}
.bg-blue-900 {
  background-color: $blue-900;
}
