.cardManager {
  * {
    pointer-events: none;
  }

  .cardVisualizer {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1rem;

    * {
      grid-column: span 2;
    }

    &__info--half {
      grid-column: span 1;
    }

    .cardNumber {
      .cardNumber__subsection {
        color: red;

        &:not(:last-child) {
          &::after {
            content: "-";
          }
        }
      }
    }
  }

  .beneficiary__li {
    .beneficiary__el {
      padding: 1rem 0;
      border-bottom: solid $gray-50 1px;
    }
  }
}
