$mugshot-size: 3rem;
$mugshot-border-width: 0.2rem;
$mugshot-margin: $mugshot-size/-4;

$logo-size: 5rem;

.componentKit {
  .logo {
    height: $logo-size;
    width: $logo-size;
    margin: auto;
  }

  .mugshot__li {
    .mugshot__el {
      height: $mugshot-size;
      width: $mugshot-size;
      border-width: $mugshot-border-width;
      border-color: white;
      border-style: solid;
      overflow: hidden;

      &:first-child {
        margin-right: $mugshot-margin;
      }

      &:last-child {
        margin-left: $mugshot-margin;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
